.blog-card
  .container
    h4 The Why before The What
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    span.author Utkarsh Bhimte 
