/* Coolors Exported Palette - coolors.co/0e1116-7cc6fe-228cdb-ca054d-170a1c */

/* HSL */
$color1: hsla(218%, 22%, 7%, 1);
$color2: hsla(206%, 98%, 74%, 1);
$color3: hsla(206%, 73%, 50%, 1);
$color4: hsla(338%, 95%, 41%, 1);
$color5: hsla(283%, 47%, 7%, 1);

/* RGB */
$color1: rgba(14, 17, 22, 1);
$color2: rgba(124, 198, 254, 1);
$color3: rgba(34, 140, 219, 1);
$color4: rgba(202, 5, 77, 1);
$color5: rgba(23, 10, 28, 1);
