<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8"/>
      <title>{{ page.title }}</title>
      <meta name="description" content=""/>
      <meta name="author" content=""/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
      <link rel="stylesheet" href="css/main.css"/>
      <link rel="icon" type="image/png" href="assets/images/logo-ub.svg"/>
      <script src="assets/js/jquery-3.0.0.min.js"></script>
      <script src="assets/js/script.js"></script>
      <link rel="manifest" href="manifest.json">
    </head>
    <body>
      {% include header.html %}
      <div class="card-container">
        <div class="container">
          {% include card.html %}
          {% include card.html %}
          {% include card.html %}
          {% include card.html %}
        </div>
      </div>
      {% include nav.html %}


<!--
        <div class="site container">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>
          <img src="assets/images/logo-ub.svg" alt="">

          {{ content }}


          <div class="footer">
            <div class="contact">
              <p>
                Your Name is<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div> -->

    </body>
</html>
